/* Tags */

body {
	background-image: url(images/circuit.jpg);
	background-attachment: fixed;
	color: #151515;
	background-color: #eff5f8;
}

table {
	text-align: center;
	vertical-align: middle;
	background: #FFF;
	border-collapse: collapse;
	height: 30px;
	margin: auto;
	padding: 5px;
	width: 100%;
	transition-duration: 0.4s;
}
 
th {
	color: #D5DDE5;
	background: #333;
	border-bottom:4px solid #9e9e9e;
	border-right: 1px solid #9e9e9e;
	font-size: 20px;
	font-weight: 100;
	padding: 10px;
}
  
tr {
	border-top: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	color: #666;
	font-size: 16px;
	transition-duration: 0.4s;
}
 
tr:hover td {
	background:#595999;
	color:#FFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
	transition-duration: 0.4s;
}
 
td {
	background:#FFF;
	padding: 5px;
	font-size:18px;
	border-right: 1px solid #C1C3D1;
	transition-duration: 0.4s;
}

figcaption {
	font-size: 1em;
	color: #333;
	text-align: center;
	display: block;
}

figure {
	width: 300px;
}

/* IDs */

#wrapper {
	padding: 10px;
	width: 800px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	background-color: #FFF;
	font-size: medium;
}

#input {
	width: 98%;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	resize: vertical;
	overflow: visible;
	word-wrap: break-word;
}

#outputText {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: auto;
	resize: vertical;
	overflow: resize;
	width: 98%;
}

#encode {
	float: left;
	display: inline-block;
}

#decode {
	float: left;
	display: inline-block;
}

#clear {
	float: left;
	display: inline-block;
}

#shiftAmt {
	margin-left: 5px;
}

#buttons {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
}

#salt {
	height: 300px;
}

#silky {
	background-image: url(images/Cats/Silky.jpg);
	width: 300px;
	height: 300px;
}

#silky:hover {
	background-image: url(images/Cats/Silky2.jpg);
}

/* Classes */

.back-to-top {
    position: fixed;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.buttonGreen {
	line-height: 40px;
  	text-align: center;
  	font-weight: normal;
	text-decoration: none;
  	color: white;
  	outline: none;
  	margin: 20px;
  	background-color: #090;
  	background-image: linear-gradient(-180deg,rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
  	border: 1px solid #0A0;
  	box-shadow: 0px 4px 0px 0px #070,0px 0px 0px 0px rgba(255,255,255,0.6),0px 6px 4px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  	border-radius: 5px;
  	height: 40px;
  	width: 80px;
  	transform: translate(0,-4px);
  	transition: all 0.1s;
  	display: block;
}

.buttonGreen:hover {
	transform: translate(0,-2px);
	box-shadow: 0px 2px 0px 0px #090,0px 0px 0px 0px rgba(255,255,255,0.6),0px 3px 2px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
}

.buttonGray {
	line-height: 40px;
  	text-align: center;
  	font-weight: normal;
	text-decoration: none;
  	color: white;
  	outline: none;
  	margin: 20px;
  	background-color: #999;
  	background-image: linear-gradient(-180deg,rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
  	border: 1px solid #AAA;
  	box-shadow: 0px 4px 0px 0px #777,0px 0px 0px 0px rgba(255,255,255,0.6),0px 6px 4px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  	border-radius: 5px;
  	height: 40px;
  	width: 80px;
  	transform: translate(0,-4px);
  	transition: all 0.1s;
  	display: block;
}

.buttonGray:hover {
	transform: translate(0,-2px);
	box-shadow: 0px 2px 0px 0px #999,0px 0px 0px 0px rgba(255,255,255,0.6),0px 3px 2px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
}

.buttonRed {
	line-height: 40px;
  	text-align: center;
  	font-weight: normal;
	text-decoration: none;
  	color: white;
  	outline: none;
  	margin: 20px;
  	background-color: #900;
  	background-image: linear-gradient(-180deg,rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
  	border: 1px solid #A00;
  	box-shadow: 0px 4px 0px 0px #700,0px 0px 0px 0px rgba(255,255,255,0.6),0px 6px 4px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  	border-radius: 5px;
  	height: 40px;
  	width: 80px;
  	transform: translate(0,-4px);
  	transition: all 0.1s;
  	display: block;
}

.buttonRed:hover {
	transform: translate(0,-2px);
	box-shadow: 0px 2px 0px 0px #700,0px 0px 0px 0px rgba(255,255,255,0.6),0px 3px 2px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
}

.linkEffect a {
	text-decoration: none;
	color: #0067FF;
	transition-duration: 0.4s;
}

.linkEffect a:hover {
	transition-duration: 0.4s;
	color: #00DDFF;
}

.note {
	font-size: 12px;
}

.centered {
	margin-left: 150px;
	margin-right: 150px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.framedPhoto {
	background-color: #EEE;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 15px #999;
}

	/* Menu */
	.menu ul {
		zoom: 1;
		list-style: none;
		margin: 0;
		padding: 0;
		background: #333;
	}

	.menu ul:before,.menu ul:after {
		content: "";
		display: table;
	}

	.menu ul:after {
		clear: both;
	}

	.menu ul > li {
		float: left;
		position: relative;
		width: 100%;
	}

	.menu ul > li:hover ul {
		max-height: 1000px;
		-webkit-transform: perspective(400) rotate3d(0,0,0,0);
	}

	.menu a {
		display: block;
		padding: 10px 20px;
		line-height: 20px;
		color: #fff;
		border-left: 1px solid #595959;
		text-decoration: none;
		transition-duration: 0.4s;
	}

	.menu a:hover {
		text-decoration: none;
		background: #595959;
		transition-duration: 0.4s;
	}

	.menu a:active, a.thispage {
		background-color: #595999;
	}

	.menu li ul {
		position: absolute;
		left: 0;
		top: 39px;
		z-index: 1;
		max-height: 0;
		overflow: hidden;
		-webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
		-webkit-transform-origin: 50% 0;
		-webkit-transition: 350ms;
		-moz-transition: 350ms;
		-o-transition: 350ms;
		transition: 350ms;
	}

	.menu li ul li {
		width: 800px;
	}

	.menu li ul a {
		border: none;
	}

	.menu li ul a:hover {
		background: rgba(0,0,0,0.2);
	}
	/* End Menu */